*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.page-actions-cont{
   height: 3em;
   background-color: #21BC74;
   display: flex;
   align-items: flex-end;
   padding-left: 1rem;

}
.page-action{
    margin: 0.5rem;
    color: #f1f2f6 ;
}
.cellprop-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}
.font-family-prop{
    padding: 0.5rem;
}
.font-size-prop{
    padding: 00.2rem;
}
.cellprop-actions-cont > select{
   border: none;
   border-radius: 3px;
   outline: none;
   padding: 0.2rem;
}
.cellprop-actions-cont > * {
    cursor: pointer;
}
.formula-actions-cont{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-actions-cont > * {
    display: inline-block;
    margin: 0.3rem;
}
.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 70%;
}
.formula-icon{
    width: 1.2rem;
}
.address-bar{
    width: 5rem;
    text-align: center;
}
.formula-bar{
    width: calc(100vw - 5rem - 0.3rem - 0.3rem - 0.3rem);
}
.sheet-actions-cont{
    height: 3rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
}
.sheet-actions-cont > * {
    display: inline-block;
}
.sheet-add-icon{ 
   width: 2vw;
}
.sheets-folder-cont{
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    
    width: calc(100vw - 2vw);
}
.sheet-folder{
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
}
.grid-cont{
    height: calc(100vh - 3rem - 3rem - 2rem - 3rem);
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
.top-left-dummy{
    height: 2rem;
    width: 2rem;
    background-color: gray;
    position: fixed;
    z-index: 5;
}
.address-column-cont{
    position: sticky;
    top: 2rem;
    left: 0;
}
.address-row-cont{
    height: 2rem;
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
}
.cells-cont{
    position: absolute;
    top: 0;
    left: 2rem;
}
.address-col{
   height: 2rem;
   width: 2rem;
   display: flex;
    align-items: center;
    justify-content: center;
   border: 1px solid #dfe4ea;
}
.address-row{
    height: 2rem;
    width: 5rem;
    border: 1;
    border: 1px solid #dfe4ea;
    display: flex;
    align-items: center;
    justify-content: center;
     /* font-weight:bold ; */
}
.row-cont{
   display: flex;
}
.cell{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
}
.color-prop{
    position: relative;
}
.color-prop > input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}